<% today = Date.today %>
<% next_friday = 5-today.wday %>

<% if today.friday? || today.saturday? %>
  <h1>Es ist Fr</h1>
  <h1>Es ist Framstag bei Penny!!</h1>
  <div><%= image_tag "thumbsupemoji.png", width: 300 %></div>
<% elsif today.thursday? %>
  <h2>Noch 1 Tag bis zum Framstag</h2>
<% else %>
  <h2>Es ist noch kein Framstag :(</h2>
  <h2>Noch <%= next_friday %> Tage bis zum Framstag</h2>
<% end %>