// Place all the styles related to the Countdown controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  background: #730E15;
  color: #CCCCCC;
  text-align: center;

}

h1 {
  font-family: "Arial Black", "Arial", serif;

}

h2 {
  font-family: "Arial", serif;
}